-
  var mainMenu = [
    {
      "id": "0",
      "name": "Главная",
      "url": "#home"
    },
    {
      "id": "1",
      "name": "Продукция",
      "url": "#products"
    },
    {
      "id": "2",
      "name": "Наши услуги",
      "url": "#services"
    },
    {
      "id": "3",
      "name": "О Компании",
      "url": "#about"
    },
    {
      "id": "4",
      "name": "Контакты",
      "url": "#contacts"
    }
  ];
