-
  var mainMenu = [
    {
      "id": "0",
      "name": "Главная",
      "url": "/"
    },
    {
      "id": "1",
      "name": "Продукция",
      "url": "#"
    },
    {
      "id": "2",
      "name": "Наши услуги",
      "url": "#"
    },
    {
      "id": "3",
      "name": "О Компании",
      "url": "#"
    },
    {
      "id": "4",
      "name": "Контакты",
      "url": "#"
    }
  ];
