// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-lg !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    text-align: center;
  }

  &__link {
    position: relative;
    display: block;
    padding: 0.5em 5em;
    font-family: $font-family--headings;
    text-decoration: none;
    text-transform: uppercase;
    color: #00a7dd;
    background: #fff;

    @include laptop() {
      padding-left: 0;
      padding-right: 0;
      margin: 0 rem(15px);
      background: transparent;
    }

    @include laptop-l() {
      font-size: rem(18px);
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      background: #00a7dd;
      transition: width 150ms linear;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $site-brand-color;

      &:before {
        width: 100%;
      }
    }

    &:visited {
      color: $site-brand-color;
    }
  }

  &__link--active {
    @include laptop() {

      &:before {
        width: 100%;
      }
    }
  }
}
