//- Все примеси в этом файле должны начинаться c имени блока (about)

mixin about(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +about('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' about--' + modsList[i].trim();
      }
    }

  .about(class=allMods)&attributes(attributes)
    .about__inner
      p
        strong ООО «ИнертГаз»
        =" "
        | - это компания, которая работает в сфере услуг реализации инертных газов более 10 лет. Мы обеспечиваем поставки благородных газов, предоставляем качественный ремонт и свидетельства на баллоны в кратчайшие сроки.
      p Компания
        =" "
        strong ООО «ИнертГаз»
        =" "
        | является официальным представителем украинского производителя инертных газов «Криоин Инжиниринг» в городе Киев и Киевской области.
      p Наша главная задача, чтобы клиент был доволен качеством нашей продукции, сроком выполненной доставки и нашими услугами.
      p В зависимости от ваших целей, вы сможете подобрать любой газ из списка нашей продукции, которые соответствуют всем стандартам качества. При заключении договора на долгосрочные поставки, наша компания может предоставить постоянным клиентам значительные привилегии. За уточнением цен и условий работы обращайтесь к нашими квалифицированным менеджерам.
      p Поставка технических газов от
        =" "
        strong ООО «ИнертГаз»
        =""
        | производится с обязательным учетом индивидуальных потребностей и пожеланий каждого клиента. Это касается, прежде всего, планов клиента по расходованию газа, особенностей снабжаемого газом объекта.
      p Мы гарантируем регулярность и стабильность газоснабжения. В своей работе
        =" "
        strong ООО «ИнертГаз»
        =" "
        | использует самые разные способы поставки технических газов, которые удобны нашим клиентам. Более подробную информацию о каждом из поставляемых нами газов вы сможете получить, обратившись к странице интересующего вас газа.
      p Мы упорно работаем для того, чтобы достичь высокого уровня обслуживания наших клиентов!
      p Компания
        =" "
        strong ООО «ИнертГаз»
        =" "
        | всегда рада сотрудничеству с Вами!
