// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    position: relative;

    min-height: 100vh;

    background-image: url(../img/header-slide.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: '';

      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__content {
    @include container();

    position: relative;
    z-index: 2;
    min-height: inherit;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    max-width: rem(550px);

    @include laptop-l() {
      max-width: 100%;
    }
  }

  &__title {
    padding: 0 rem(20px);
    margin-bottom: rem(45px);

    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    @include mobile() {
      font-size: rem(55px);
    }

    @include laptop() {
      font-size: rem(65px);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include mobile() {
      flex-direction: row;
    }
  }

  &__actions-btn {
    padding: rem(8px);

    @include mobile() {
      padding: rem(15px);
    }
  }
}
