// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name: &; // #{$block-name}__element
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 9px -5px #000;
  transform: translateY(-100%);
  transition: all 300ms linear;
  overflow: hidden;

  &--visible {
    transform: translateY(0%);
    overflow: visible;
  }

  &__inner {
    @include container();
  }

  &__row {
    @include row();
    height: 90px;
    align-items: center;
  }

  &__logo {
    @include col();
    @include col(xs, 6);

    @include laptop() {
      @include col(md, 3);
    }
  }

  &__menu {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;

    @include laptop() {
      position: static;
      @include col();
      @include col(md, 7);
    }
  }

  &__contacts {
    display: none;

    @include laptop() {
      @include col();
      @include col(md, 2);
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__toggler {

    .no-js & {
      display: none;
    }

    @include col();
    @include col(xs, 6);
    text-align: right;

    @include laptop() {
      display: none;
    }
  }
}
