//- Все примеси в этом файле должны начинаться c имени блока (advantages-list)

mixin advantages-list(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        c('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' advantages-list--' + modsList[i].trim();
      }
    }

  ul.advantages-list(class=allMods)&attributes(attributes)
    li.advantages-list__item 100% гарантия качества продукции
    li.advantages-list__item Всегда хорошие и приятные цены
    li.advantages-list__item Официальные предствители Криоин Инжиниринг в г.Киев
    li.advantages-list__item Технические газы украинского производства
    li.advantages-list__item Различные способы оплаты и доставки заказа
    li.advantages-list__item Каждая покупка — это быстро, качественно, надёжно!
