// В этом файле должны быть стили для БЭМ-блока gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.gallery {

  $block-name:                &; // #{$block-name}__element

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    padding: rem(15px);
    margin: 0 auto;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 60px;
      height: 30px;
    }
  }
}
