// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {

  $block-name:                &; // #{$block-name}__element
  padding: rem(90px) 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  &__inner {

    @include container();
  }

  &__title {
    margin-bottom: rem(25px);
    text-align: center;
  }

  &__subtitle {
    margin-bottom: rem(30px);
    text-align: center;
  }

  &__about {
    margin-bottom: rem(60px);
  }

  &__gallery {
    text-align: center;
  }

  &--hellium {
    background-image: url(../img/bg-hellium.jpg);
  }

  &--about {
    background-image: url(../img/bg-about.jpg);
  }
}
