// В этом файле должны быть стили для БЭМ-блока section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.section {

  $block-name:                &; // #{$block-name}__element
  padding: rem(90px) 0;

  &__inner {

    @include container();
  }

  &__title {
    margin-bottom: rem(25px);
    text-align: center;
  }

  &__subtitle {
    margin-bottom: rem(30px);
    text-align: center;
  }
}
