//- Все примеси в этом файле должны начинаться c имени блока (services)

mixin services(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +services('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' services--' + modsList[i].trim();
      }
    }

  ul.services(class=allMods)&attributes(attributes)
    li.services__item.services__item--selling
      strong.services__item-title Продажа гелия
      =" "
      | Компания предлагает качественный гелий украинского производства
    li.services__item.services__item--delivery
      strong.services__item-title Срочная доставка
      | Доставка по Киеву с возможностью срочной доставки "в день заказа"
    li.services__item.services__item--support
      strong.services__item-title Клиентская поддержка
      =" "
      | Оформление заказа по вашей заявке с доставкой по всем регионам Украины
    li.services__item.services__item--renewal
      strong.services__item-title Забота о клиентах
      =" "
      | Постоянное обновление и наличие товара на складе
    li.services__item.services__item--repair
      strong.services__item-title Ремонт и обслуживание
      =" "
      | Ремонт и техническое освидетельствование газовых баллонов
