// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {

  $block-name:                &; // #{$block-name}__element
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: rem(130px) rem(10px) rem(10px) rem(10px);
    text-align: center;

    @include tablet() {
      padding-top: rem(150px);
      padding-bottom: rem(30px);
    }

    &:before {
      $width: rem(100px);
      content: '';
      position: absolute;
      top: rem(20px);
      left: 50%;
      transform: translateX(-50%);
      width: $width;
      height: $width;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__item-title {
    display: block;
    margin-bottom: rem(5px);
    font-size: rem(20px);
    font-family: $font-family--headings;
    text-transform: uppercase;
    color: $site-brand-color;
  }

  &__item--selling {

    &:before {
      background-image: url(../img/selling.svg);
    }
  }

  &__item--delivery {

    &:before {
      background-image: url(../img/delivery.svg);
    }
  }

  &__item--support {

    &:before {
      background-image: url(../img/support.svg);
    }
  }

  &__item--renewal {

    &:before {
      background-image: url(../img/renewal.svg);
    }
  }

  &__item--repair {

    &:before {
      background-image: url(../img/repair.svg);
    }
  }
}
