// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    position: relative;
    min-height: rem(200px);
    background-image: url(../img/bg-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: '';

      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &__content {
    @include container();
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__copyright {
    font-size: rem(20px);
    color: #fff;
  }
}
