//- Все примеси в этом файле должны начинаться c имени блока (contacts)

mixin contacts(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +contacts('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' contacts--' + modsList[i].trim();
      }
    }

  .contacts(class=allMods)&attributes(attributes)
    .contacts__item.contacts__item--address
      p
        | Украина
        br
        | г. Киев
        br
        | ул. Вербовая 8Б
    .contacts__item.contacts__item--phone
      +phone-list()
    .contacts__item.contacts__item--email
      p inertgas.ltd@gmail.com
