// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: rem(300px);
    padding: rem(130px) rem(10px) rem(10px) rem(10px);
    font-size: rem(18px);
    text-align: center;

    @include tablet() {
      padding-top: rem(150px);
      padding-bottom: rem(30px);
    }

    &:before {
      $width: rem(100px);
      content: '';
      position: absolute;
      top: rem(20px);
      left: 50%;
      transform: translateX(-50%);
      width: $width;
      height: $width;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__item--address {

    &:before {
      background-image: url(../img/address.svg);
    }
  }

  &__item--phone {

    &:before {
      background-image: url(../img/phone.svg);
    }
  }

  &__item--email {

    &:before {
      background-image: url(../img/email.svg);
    }
  }
}
