//- Все примеси в этом файле должны начинаться c имени блока (hellium)

mixin hellium(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +hellium('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' hellium--' + modsList[i].trim();
      }
    }

  ul.hellium(class=allMods)&attributes(attributes)
    li.hellium__item
      strong.hellium__item-title Свойства газа
        =" "
      p.hellium__item-text Гелий – это абсолютно безопасный технический газ, который относится к группе безвредных благородных газов. Он не имеет цвета, вкуса, запаха и не содержит токсинов. Благодаря таким качествам, гелий разрешено применять в местах массового скопления людей. Газообразный гелий инертен и не представляет опасности для человека.
      p.hellium__item-text Важно отметить, что гелий полностью безвреден не только для жизни людей, а так же для окружающей среды. Гелий значительно легче воздуха, поэтому он не требует утилизации его остатков в баллонах. Этот инертный газ полностью безвреден, так как рассеивается в верхних слоях атмосферы Земли.

    li.hellium__item
      strong.hellium__item-title Где применяется гелий
        =" "
      p.hellium__item-text Гелий широко применяют в различных отраслях жизнедеятельности. Он используется в магнитных томографах, микроэлектронике, в научных исследованиях, медицине, охлаждении ядерных реакторов, а также благодаря низкой плотности и негорючести его используют для наполнения воздушных шаров, аэростатов и дирижаблей.
      p.hellium__item-text К тому же, исключительные свойства гелия дают возможность применять его в металлургии во время сварки цветных металлов в качестве защитной атмосферы. В смеси с другими благородными газами его используют в газовых лазерах и в наружной неоновой рекламе.

    li.hellium__item
      strong.hellium__item-title Транспортировка и хранение
        =" "
      p.hellium__item-text В основном газ хранится и перевозится в стальных баллонах темно-красного или коричневого цвета, которые оснащены правой резьбой. Как правило используют гелиевые емкости объемом 10, 20, и 40 литров. При транспортировке баллоны помещаются в специализированные контейнеры. В случае соблюдения основных правил перевозку гелиевых баллонов можно осуществлять любым видом транспорта.
      p.hellium__item-text Приобрести газообразный гелий по доступной цене и заказать удобную доставку баллонов можно в компании ООО
        =" "
        strong «ИнертГаз»,
        =" "
        | которая отличается высоким сервисом услуг и качеством предоставляемой продукции.
