// В этом файле должны быть стили для БЭМ-блока hellium, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hellium {

  $block-name:                &; // #{$block-name}__element
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: rem(30px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-title {
    display: block;
    margin-bottom: rem(5px);
    font-size: rem(18px);
    font-family: $font-family--headings;
    text-transform: uppercase;
    color: $site-brand-color;
  }

  &__item-text {
    font-size: rem(18px);
    margin-bottom: rem(10px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
