//- Все примеси в этом файле должны начинаться c имени блока (statistics)

mixin statistics(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +statistics('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' statistics--' + modsList[i].trim();
      }
    }

  .statistics(class=allMods)&attributes(attributes)
    .statistics__inner
      +statistics-list()
