//- Все примеси в этом файле должны начинаться c имени блока (statistics-list)

mixin statistics-list(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +statistics-list('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' statistics-list--' + modsList[i].trim();
      }
    }

  ul.statistics-list(class=allMods)&attributes(attributes)
    li.statistics-list__item.statistics-list__item--clients
      span.statistics-list__item-counter 300
      =" "
      | Счастливых клиентов
    li.statistics-list__item.statistics-list__item--balloons
      span.statistics-list__item-counter 13,275
      =" "
      | Проданых баллонов
    li.statistics-list__item.statistics-list__item--shipping
      span.statistics-list__item-counter 850
      =" "
      | Доставок по Украине
    li.statistics-list__item.statistics-list__item--partners
      span.statistics-list__item-counter 20
      =" "
      | Партнеров по Украине
