//- Все примеси в этом файле должны начинаться c имени блока (advantages)

mixin advantages(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +advantages('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' advantages--' + modsList[i].trim();
      }
    }

  .advantages(class=allMods)&attributes(attributes)
    .advantages__inner
      .advantages__info
        +advantages-list
      .advantages__image
        img(src='img/hellium-balon.png', alt='Компания «ИнертГаз» реализует по доступным ценам гелий в баллонах', width='238', height='450')
