extends pug/layout.pug

block header
  +page-header()

block hero
  +page-hero()

block content

  section#products.section
    .section__inner
      .section__title
        +section-title('Наша продукция')
      .section__subtitle
        +section-subtitle('Компания «ИнертГаз» реализует по доступным ценам гелий в баллонах')
      .section__content
        +product()

  section#hellium.section.section--hellium
    .section__inner
      .section__title
        +section-title('Гелий')
      .section__subtitle
        +section-subtitle('Гелий обладает второй после водорода распространенностью во Вселенной. Благодаря отличным свойствам гелий технический сегодня используется во многих сферах нашей жизнедеятельности')
      .section__content
        +hellium()

  section#services.section.section--services
    .section__inner
      .section__title
        +section-title('Наши услуги')
      .section__subtitle
        +section-subtitle('Компания «ИнертГаз» предоставляет широкий спектр услуг')
      .section__content
        +services()

block footer
  +page-footer()
