extends pug/layout.pug

block header
  +page-header()

block hero
  +page-hero()

block content
  +section('', 'products')
    block title
      +section-title('Наша продукция')
    block subtitle
      +section-subtitle('Компания «ИнертГаз» реализует по доступным ценам гелий в баллонах')
    block sectionContent
      +product()

block footer
  +page-footer()
