//- Все примеси в этом файле должны начинаться c имени блока (page-hero)

mixin page-hero(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-hero()
          p Главный баннер станицы
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-hero--' + modsList[i].trim();
      }
    }

  .page-hero(class=sallMods, role='banner')&attributes(attributes)
    .page-hero__inner
      .page-hero__content
        .page-hero__logo
          +logo('/')
            img(src='img/logo.svg', alt='ИнертГаз  - продажа и доставка гелия Киев Украина', width='772', height='342')

        h1.page-hero__title Реализация инертных газов

        .page-hero__actions
          .page-hero__actions-btn
            +btn('Продукция')(href='#')
          .page-hero__actions-btn
            +btn('Контакты')(href='#')
