//- Все примеси в этом файле должны начинаться c имени блока (product)

mixin product(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product('Текст', 'some-mod')

  -
  // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
    var modsList = mods.split(',');
    for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' product--' + modsList[i].trim();
    }
    }

  .product(class=allMods)&attributes(attributes)
    .product__inner
      .product__info
        +product-info()
      .product__image
        img(src='img/hellium-balon.png', alt='Компания «ИнертГаз» реализует по доступным ценам гелий в баллонах', width='238', height='450')
    .product__actions
      +btn('Узнать цены')(href='#')
