// В этом файле должны быть стили для БЭМ-блока product-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-info {

  $block-name:                &; // #{$block-name}__element
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    margin-bottom: rem(30px);

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      display: none;

      @include tablet() {
        content: '';
        display: block;
        position: absolute;
        top: rem(5px);
        left: 0;
        width: rem(60px);
        height: rem(60px);
        background: url(../img/check.svg);
        background-size: contain;
        background-position: center;
      }
    }

    @include tablet() {
      padding-left: rem(80px);
    }
  }

  &__item-title {
    display: block;
    margin-bottom: rem(5px);
    font-size: rem(18px);
    font-family: $font-family--headings;
    text-transform: uppercase;
    color: $site-brand-color;
  }
}
