//- Все примеси в этом файле должны начинаться c имени блока (product-info)

mixin product-info(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +product-info('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-info--' + modsList[i].trim();
      }
    }

  ul.product-info(class=allMods)&attributes(attributes)
    li.product-info__item
      strong.product-info__item-title Технический гелий 99,8 - 40л, 20л,10л
      =" "
      | Газообразный технический (99,8%). Долю 0,2% занимают примеси азота, водорода, кислорода и аргона. Наиболее часто используется в индустрии развлечений при заполнении воздушных шаров.
    li.product-info__item
      strong.product-info__item-title Гелий марка А (99,995%) - 40л, 10л
      =" "
      | Марка А (99,995%). Для поиска утечек в трубопроводах, Используется как компонент рабочего тела гелий-неоновых лазеров. Применяют в дыхательных смесях при погружениях и работах на глубине.
    li.product-info__item
      strong.product-info__item-title Гелий особой чистоты (99,999%) - 40л, 10л
      =" "
      | Используетсяпри резке, сварке, в дыхательных смесях для глубоководных погружений, а так же металлургии в качестве защитного инертного газа дял выплавки чистых металлов.
    li.product-info__item
      strong.product-info__item-title Гелий 99,9999% - 40л
      =" "
      | Марка 6,0. Широко применяется в лазерных технологиях, хроматографии, то есть там, где критически важно отсутствие любых примесей.
